.home {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: -webkit-gradient(radial,center center,0,center center,100%,color-stop(0%,#353644),color-stop(100%,#202029));
  background: -webkit-radial-gradient(center,ellipse cover,#353644 0,#202029 100%);
  background: radial-gradient(ellipse at center,#353644 0,#202029 100%);
  .wrapper {
    width: 330px;
    min-height: 440px;
    position: absolute;
    margin-top: -220px;
    margin-left: -175px;
    top: 45%;
    left: 50%;
    .title {
      font-size: 3em;
      font-weight: 500;
      color: #fff6de;
      padding: 16px;
      margin: 20px 0;
      text-align: center;
    }
    .form {
      position: relative;
      padding: 30px 10px;
      background: #fff;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      .form-group {
        overflow: hidden;
        padding: 10px;
        input {
          width: 266px;
          font-size: 1.2em;
        }
        button {
          width: 100%;
        }
      }
    }

  }
}