.footer {
  position: absolute;
  width: 100%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  bottom: 64px;
  left: 0;
  background: #333;
  font-size: 1em;
  font-weight: 500;
  color: #c2c2c2;
  z-index: 999;
}